<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" >
        <title>Lista de trabajos </title>
        <link href="css/one-page-wonder.min.css" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
        <link rel="stylesheet"  type="text/css"  href="/src/main/resources/static/css/trabajop.css">
        <link rel="icon" th:href="@{/logo/Logo_FINAL.png}" type="image/png" />
        <!-- Incluye jQuery -->
        <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

        <!-- Incluye Popper.js -->
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js}" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </head>
    <nav th:replace="~{/fragments/navbar :: nav}" th:with="id=${id}, nombre=${nombre}, apellido=${apellido}, barrio=${barrio}, direccion=${direccion}, email=${email}, imagen=${imagen}, rol=${rol}"></nav>

<!-- SOLICITUDES PROVEEDOR
    <div class="container m-5" >
        <h3> Mis solicitudes de empleo: </h3>
        <div th:if="${solicitudes == null || solicitudes.isEmpty()}">
            <p> Ya ha contestado todas las solicitudes de trabajo </p>
        </div>
        
        <ul id="solicitudes-lista"th:if="${solicitudes != null && !solicitudes.isEmpty()}">
            <li th:each="trabajo : ${solicitudes}"  class="col-md-4" style=" display: inline-flex; align-items: center; justify-content: space-between; padding: 10px; border-bottom: 1px solid #ccc;   flex-grow: 1; ">
               <div  style = "flex-grow: 1;" > 
                    <div style= "flex: 3; max-height: 100px; overflow: hidden; text-overflow: ellipsis">
                        <strong>Usuario:</strong> <span th:text="${trabajo.usuario != null ? trabajo.usuario.nombre + '   ' + trabajo.usuario.apellido : 'Usuario no disponible'}"></span><br>
                        <strong>Descripción:</strong> <span th:text="${trabajo.descripcion}"></span>
                        
                        <div class="solicitud-buttons" style="display: flex; align-items: center ; gap: 12px;">
                            
                            <form th:action="@{/trabajo/aceptarSolicitud/__${trabajo.id}__}" method="post">
                                <input type="hidden" id="trabajoId" th:value="${trabajo.id}" />
                                <button type="submit">Aceptar👍</button>
                            </form>
                            
                            <form th:action="@{/trabajo/rechazarSolicitud/__${trabajo.id}__}" method="post">
                                <input type="hidden" id="trabajoId" th:value="${trabajo.id}" />
                                <button type="submit">Rechazar👎</button>
                            </form>

                        </div>
                    </div>
                </div>
            </li>
 
        </ul> 
    </div> -->

<!-- Pendientes VISTA PROVEEDOR 
    <div class="container m-5"  >
        <h3> Trabajos Pendientes </h3>
        <div th:if="${NoRealizados == null || NoRealizados.isEmpty()}">
            <p>Usted no posee trabajos pendientes...</p>
        </div>
        <table th:if="${NoRealizados != null && !NoRealizados.isEmpty()}">
            <thead class="align-items-center">
                <tr >
                    <th scope="col">Id Trabajo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Solicitud</th>
                    <th scope="col"> Marcar Como Realizado </th>

                </tr>
            </thead>
            <tbody th:each="trabajo : ${NoRealizados}" > 
                <tr >
                    <th scope="row" th:text="${trabajo.id}"></th>
                    <th th:text="${trabajo.usuario != null ? trabajo.usuario.nombre + ' ' + trabajo.usuario.apellido : 'Usuario no disponible'}"></th>
                    <td th:text="${trabajo.descripcion}"></td>
                    <td th:text="${trabajo.solicitud}"></td>
                  
                    <td style="align-items: center;">
                        <form th:action="@{/trabajo/marcarRealizado/__${trabajo.id}__}" method="post">
                            <input type="hidden" id="trabajoId" th:value="${trabajo.id}" />
                            <button type="submit"> ✅ </button>
                        </form>
                           
                    </td>
                    

                </tr>

            </tbody>
        </table>
    </div> --->
<!-- TODOS LOS TRABAJOS/ VISTA PROVEEDOR 
<div class="container m-5"  >
       <tr >
            <h3> Aquí estan todos sus trabajos </h3>
        <div th:if="${trabajosProov.isEmpty() || trabajosProov == null}">
            <p>No se encontró ningún trabajo a su nombre</p>
        </div>
        <table th:if="${trabajosProov != null && !trabajosProov.isEmpty()}">
        <table >
            <thead class="align-items-center">
                     <th scope="col">Id Trabajo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Comentario de la calificación</th>

                </tr>
            </thead>
            <tbody th:each="trabajo : ${trabajosProov}"> 
                <tr>
                    <th scope="row" th:text="${trabajo.id}"></th>
                    <th th:text="${trabajo.usuario != null ? trabajo.usuario.nombre + ' ' + trabajo.usuario.apellido : 'Usuario no disponible'}"></th>
                    <td th:text="${trabajo.descripcion}"></td>
                    <td th:text="${trabajo.realizado ? 'Realizado' : 'Pendiente'}"></td>
                    <td th:text="${trabajo.calificacion}"></td>
                    <td th:text="${trabajo.comentario}"></td>
                    
                </tr>

            </tbody>
        </table>
    </div>
</div>

-->
<!-- TRABAJOS DEL RPOVEEDOR// VISTA USUARIO //VISTA HUGO-RENZO
    <div class="container m-5" >
        <h1> Lista de todos los trabajos Realizados</h1>
                <table class="table table-dark">
                    <thead class="align-items-center">
                        <tr >
                            <th scope="col">Usuario</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Solicitud</th>
                            <th scope="col">Realizado</th>
                            <th scope="col">Calificación</th>
                            <th scope="col">Comentario de la calificación</th>
        
                        </tr>
                    </thead>
                    <tbody th:each="trabajo : ${RealizadosProveedor}"> 
                        <tr>
                            <th th:text="${trabajo.usuario != null ? trabajo.usuario.nombre + ' ' + trabajo.usuario.apellido : 'Usuario no disponible'}"></th>
                            <td th:text="${trabajo.descripcion}"></td>
                            <td th:text="${trabajo.solicitud}"></td>
                            <td th:text="${trabajo.realizado}"></td>
                            <td th:text="${trabajo.calificacion > 0 ? trabajo.calificacion : 'El usuario no calificó el trabajo aún'}"></td>
                            <td th:text="${trabajo.comentario}"></td>
                          
                        </tr>
        
                    </tbody>
                </table>
            </div>-->

            <!-- TODOS USUSARIOS- VER EL ESTADO DE SOLICITUD DE trabajos// VISTA USUARIO -->
    <div class="container m-5" >
        <h1> Aquí puede ver todos los trabajos Solicitados </h1>
                <table>
                    <thead class="align-items-center">
                        <tr >
                            <th scope="col">Proveedor</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado de la Solicitud</th>
                            <th scope="col">Realizado</th>
                            <th scope="col">Calificación</th>
                            <th scope="col">Comentario de la calificación</th>
                            <th scope="col">Cancelar solicitud</th>
                        </tr>
                    </thead>
                    <tbody th:each="trabajo : ${TodosUsuario}"> 
                        <tr>
                            <th th:text="${trabajo.proveedor != null ? trabajo.proveedor.nombre + ' ' + trabajo.proveedor.apellido : 'Proveedor no disponible'}"></th>
                            <td th:text="${trabajo.descripcion}"></td>
                            <td>
                                <span th:if="${trabajo.solicitud == 'ACEPTADA'}">Aceptada</span>
                                <span th:if="${trabajo.solicitud == 'RECHAZADA'}">Rechazada</span>
                                <span th:if="${trabajo.solicitud == '0'}"> Aún no hay respuesta del proveedor </span>
                                <span th:if="${trabajo.solicitud == 'RECHAZADA POR USUARIO'}"> Has cancelado esta solicitud</span>
                            </td>
                            <td>
                                <span th:if="${trabajo.realizado}">Finalizado</span>
                                <span th:unless="${trabajo.realizado}">Aún no se ha marcado como finalizado</span>
                            </td>
                            <td th:text="${trabajo.calificacion > 0 ? trabajo.calificacion : 'Ya puede calificar este trabajo en el apartado calificaciones pendientes'}"></td>

                            <td th:text="${trabajo.comentario}"></td>

                            <td style="align-items: center;">
                                <span th:if="${trabajo.realizado == false or (trabajo.solicitud == 'RECHAZADA' or trabajo.solicitud == 'RECHAZADA POR USUARIO')}">
                                    <form th:action="@{/trabajo/cancelarSolicitud/__${trabajo.id}__}" method="post">
                                        <input type="hidden" id="trabajoId" th:value="${trabajo.id}" />
                                        <button type="submit">Cancelar</button>
                                    </form>
                                </span>
                                <span th:if="${trabajo.realizado == true}">No se permite cancelar</span>
                            </td>
                            
                        </tr>
        
                    </tbody>
                </table>
            </div>

<!-- Trabajos para calificar VISTA USUARIO

<div class="container m-5" >
    <h3> Calificar Trabajos </h3>
    <div  th:if="${RealizadosNoCalificados == null || RealizadosNoCalificados.isEmpty()}">
        <p> No hay trabajos para calificar en este momento...</p>
    </div>
<div>
    <form th:if="${RealizadosNoCalificados != null && !RealizadosNoCalificados.isEmpty()}" th:action="@{/trabajo/Calificar/__${trabajo.id}__}" method="post" >
    <label for="elemento"> Selecciona el trabajo que desea calificar </label>
         <select name="opciones" id="opciones">
            <option th:each="trabajo : ${RealizadosNoCalificados}" th:value="${trabajo.id}" th:text="${trabajo.proveedor != null ? trabajo.proveedor.nombre + ' ' + trabajo.proveedor.apellido : 'Nombre no disponible'} + ' - ' + ${trabajo.descripcion}"></option>         
        </select>

    <div> 
        <label for="calificacion">Calificación:</label>
            <select id="calificacion" name="calificacion">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
            </select>
    </div>

    <div>
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" name="comentario" rows="4" cols="50"></textarea>
    </div>

    <div style="align-items: center;">
        <input type="hidden" id="trabajoId" th:value="${trabajo.id}" />
        
        <button type="submit">Enviar</button>
        
    </div>     
   

    </form>
</div>
</div>
        <footer th:replace="~{/fragments/footer :: footer}" th:with="id=${id}, nombre=${nombre}, apellido=${apellido}, barrio=${barrio}, direccion=${direccion}, email=${email}, imagen=${imagen}, rol=${rol}"></footer>

        <script th:src="@{/js/dropdown.js}" type="text/javascript"></script>
    </body>
-->
</html>
